<% if (!user) { %>
  <form method="POST" action="/login" class="form-inline" style="
  padding-left: 827px">
    <input name="username"> &nbsp
    <button type="login" class="btn btn-outline-dark">Login</button>
  </form>
<% } else { %>
  <form method="POST" action="/logout" class="form-inline" style="
  padding-left: 700px">
    <label>Logged in as: <%= user.email %> &nbsp</label>
    <button type="logout" class="btn btn-outline-dark">Logout</button>
  </form>
<% } %>